:root{
  --lightwheat: #F5F6FA;
  --defaultblue: hsl(211, 10%, 45%)
}
body{
  background-color: var(--lightwheat);
  font-family: 'Rubik', sans-serif;
  position: relative;
  margin: 0
}
button{
  background-color: #5357BA;
  width: 82%;
  margin: 0 auto;
  display: block;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s;
  font-size: .75rem;
  font-weight: 600
}
button:hover{
  background-color: #a6a8d4;
}
.edit-input + button{
  float: right;
  width: 82px;
}
button[data-value="no"]{
  background-color: hsl(240, 3%, 44%)
}
button[data-value="no"]:hover{
  background-color: hsl(240, 4%, 51%)
}
button[data-value="yes"]{
  background-color: hsl(358, 79%, 66%);

}
button[data-value="yes"]:hover{
  background-color: hsl(358, 59%, 70%);
}
[role="button"]{
  cursor: pointer;
}
#comments-section-wrapper{
  max-width: 600px;
  margin: 0 auto;
}
.comment-context{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.default-box{
background-color: white;
border-radius: 10px;
overflow: hidden;
padding: 15px;
margin: 10px 0;
}
.default-box[data-comment="reply"]{
  width: 85%;
  position: relative;
}
.default-box[data-comment="main"]{
 align-self: normal;
}
.comment-context.has-replies::before{
  content: '';
  position: absolute;
  left: 30px;
  top: 175px;
  bottom: 10px;
  width: 2px;
  background-color: #0000000f;
}
.inner-comment-box{
  display: flex;
}
.inner-comment-box .rating{
  width: 36px;
  background-color: var(--lightwheat);
  text-align: center;
  font-weight: 700;
  color: hsl(211, 10%, 45%);
  border-radius: 10px;
  overflow: hidden;
  max-height: 90px;
  
}
.inner-comment-box .rating [role="button"]{
  color: hsl(223, 19%, 93%);
  padding: 4px 0px;
  transition: .15s;
}
.inner-comment-box .rating [role="button"]:hover{
  color: hsl(212, 24%, 26%);
  background-color: #ecedf3;
}
.current-rating{
  padding: 8px 0;
  color: hsl(212, 24%, 26%)
}
.inner-comment-box .main-content{
  width: 100%;
  margin-left: 20px;
}
.comment-header{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.comment-header > img{
  width: 30px;
}
.comment-header .date{
  font-size: .85rem;
  margin-left: 16px;
  color: hsl(211, 10%, 45%);
}
.comment-header .nickname{
  font-size: .85rem;
  margin-left: 16px;
  font-weight: 600;
}
.reply-btn-wrapper{
  margin: 0 0 0 auto;
}
.comment-header .reply-btn{
  font-size: .8rem;
  font-weight: 500;
  margin: 0 0 0 auto;
  user-select: none;
}
.comment-header .reply-btn img{
  margin-right: 6px;
  transition: .5s;
}
.comment-header .reply-btn[data-active=true] img{
  transform: rotate3d(0, 1, 0, 180deg);
}
.comment-content{
  font-size: 15px;
  color: hsl(211, 10%, 45%);
  padding-right: 30px;
}

.first-reply{
  width: 85%;
  align-self: flex-end;
}
.inner-reply{
  display: grid;
  grid-template-columns: 42px 1fr 100px;
}
.inner-reply .avatar img{
  width: 100%;
}
.inner-reply .reply-input{
  padding: 0 20px;
}
textarea{
  min-height: 75px;
  border-radius: 6px;
  border: var(--defaultblue) 1px solid;
  padding: 5px 10px
}
.reply-input textarea{
  width: 100%;
}
.edit-input{
  width: 95%;
}
.delete-btn{
  margin: 0 20px 0 auto;
  font-size: .8rem;
  font-weight: 500;
  color: #ED6368;

  opacity: .25;
  transition: .3s;
  cursor: pointer;
}
.delete-btn > div{
  display: flex;
  gap: 5px;
}
.delete-btn:hover{
  opacity: 1;
}
.reply-composer{
  margin-top: 10px;
  animation-name: elementIn;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}
@keyframes elementIn {
  0%{
    margin-top: -121px;
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  to{
    margin-top: 10px;
    opacity: 1;
  }
}
@keyframes elementOut {
  0%{
    margin-top: 10px;
  }
  30%{
    opacity: 0;
  }
  to{
    margin-top: -121px;
    opacity: 0;
  }
}
.delete-modal{
  height: 100vh;
  width: 100%;
  background-color: rgba(110, 110, 110, 0.55);
  position: sticky;
  z-index: 1000;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.delete-modal-alert{
  width: 260px;
  margin: 0 auto;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
}
.delete-modal-alert span{
  display: block;
  font-size: 1.25rem;
}
.delete-modal-alert p{
  color:hsl(213, 9%, 40%);
  font-size: .85rem;
}
.delete-modal-alert .buttons{
  display: flex;
  justify-content: space-between;
}
.delete-modal-alert button{
  display: inline-block;
  width: 47%;
  margin: 0%;
}
.modal-active{
  overflow: hidden;
  /* height: 100vh; */
}

.removing-comment{
  animation: .75s removing;
  animation-delay: .15s;
  position: relative;
}
.removing-comment::after{
  content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #bd2a2f1c;
}

@keyframes removing {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}