:root{
  --lightwheat: #F5F6FA;
  --defaultblue: hsl(211, 10%, 45%)
}
body{
  background-color: var(--lightwheat);
  font-family: 'Rubik', sans-serif;
}

[role="button"]{
  cursor: pointer;
}
#comments-section-wrapper{
  max-width: 600px;
  margin: 0 auto;
}
.comment-context{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.default-box{
background-color: white;
border-radius: 10px;
overflow: hidden;
padding: 15px;
margin: 10px 0;
}
.default-box[data-comment="reply"]{
  width: 85%;
}
.inner-comment-box{
  display: flex;
}
.inner-comment-box .rating{
  width: 36px;
  background-color: var(--lightwheat);
  text-align: center;
  font-weight: 700;
  color: hsl(211, 10%, 45%);
  border-radius: 10px;
  overflow: hidden;
  max-height: 90px;
  
}
.inner-comment-box .rating [role="button"]{
  color: hsl(223, 19%, 93%);
  padding: 4px 0px;
  transition: .15s;
}
.inner-comment-box .rating [role="button"]:hover{
  color: hsl(212, 24%, 26%);
  background-color: #ecedf3;
}
.current-rating{
  padding: 8px 0;
  color: hsl(212, 24%, 26%)
}
.inner-comment-box .main-content{
  width: 100%;
  /* background-color: tomato; */
  margin-left: 20px;
}
.comment-header{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.comment-header > img{
  width: 30px;
}
.comment-header .date{
  font-size: .85rem;
  margin-left: 16px;
  color: hsl(211, 10%, 45%);
}
.comment-header .nickname{
  font-size: .85rem;
  margin-left: 16px;
  font-weight: 600;
}
.comment-header .reply-btn{
  font-size: .8rem;
  font-weight: 500;
  margin: 0 0 0 auto;
}
.comment-header .reply-btn img{
  margin-right: 6px
}
.comment-content{
  font-size: 15px;
  color: hsl(211, 10%, 45%);
  padding-right: 30px;
}

.first-reply, .reply-box{
  width: 85%;
  align-self: flex-end;
}
.inner-reply{
  display: grid;
  grid-template-columns: 42px 1fr 88px;
}
.inner-reply .avatar img{
  width: 100%;
}
.inner-reply .reply-input{
  padding: 0 20px;
}
.inner-reply .reply-input textarea{
  width: 100%;
  min-height: 75px;
  border-radius: 10px;
  border: var(--defaultblue) 1px solid;
  padding: 5px 10px
}